body {
    background-color: #FFE5E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.choice {
    font-size: 40px;
    border-radius: 50%;
    padding: 5px;
    height: 100px;
    width: 100px;
    background-color: white;
}

.choice:hover {
    border: 2px solid red;
    cursor: pointer;
}